{:kotoba.app/id "cloud.itonami.isic-6630", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigty5gfp3ktkmj4qzkrmcnjaeva53fb2qcdik4dd6heoezsyttcry", :kotoba.app/embed-url "ipfs://bafkreigty5gfp3ktkmj4qzkrmcnjaeva53fb2qcdik4dd6heoezsyttcry", :published {:archive "https://kotobase.net/ipfs/bafkreigty5gfp3ktkmj4qzkrmcnjaeva53fb2qcdik4dd6heoezsyttcry", :size 72524, :put-status 201, :get-status 200, :at "2026-08-15T13:48:10.572Z"}}
